<!DOCTYPE html>
<html lang='ru'>
<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>{% block title %}🌍 YOUR PYTHON DEVELOPER{% endblock %}</title>
    <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700;900&family=Rajdhani:wght@300;400;500;600;700&display=swap' rel='stylesheet'>
    <link href='{{ url_for("static", path="/css/style.css") }}' rel='stylesheet'>
</head>
<body>
    <div class='cyber-grid'></div>
    <div class='particles-background' id='particles-js'></div>
    
    {% include 'header.html' %}
    
    <main class='main-content'>
        {% block content %}{% endblock %}
    </main>
    
    {% include 'footer.html' %}
    
    <script src='https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js'></script>
    <script src='{{ url_for("static", path="/js/script.js") }}'></script>
</body>
</html>